@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-grid {
  width: 1200px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 80px;
  background-color: #1e1c21;
}

.menu {
  width: 660px;
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.banner {
  background-image: url(../img/degradeback.svg);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}
.img-banner {
  display: flex;
  width: 100%;
  height: auto;
}

.posicao-texto {
  justify-content: flex-end;
}

.texto-banner {
  width: 495px;
  color: white;
  text-align: center;
}

.secao-jogos {
  background-color: rgb(43, 45, 48);
}

.jogos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.jogos img {
  width: 90px;
}

#SaibaMais {
  background-color: green;
  font-family: 'Roboto', sans-serif;
  color: black;
  border-style: solid;
}
.texto-banner a {
  background-color: green;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
}
.secao-liga {
  background-color: rgba(29, 33, 32, 1);
  background-position: center;
}

.secao-liga img {
  align-items: center;
  width: 100%;
}
.secao-liga h2 {
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.botao2 {
  font-size: 1.2em;
  background: #429d65;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: 60%;
  margin-right: 90%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.botao01 {
  background: -webkit-linear-gradient(bottom, #e0e0e0, #f9f9f9 70%);
  background: -moz-linear-gradient(bottom, #e0e0e0, #f9f9f9 70%);
  background: -o-linear-gradient(bottom, #e0e0e0, #f9f9f9 70%);
  background: -ms-linear-gradient(bottom, #e0e0e0, #f9f9f9 70%);
  background: linear-gradient(bottom, #e0e0e0, #f9f9f9 70%);
  border: 1px solid #ccccce;
  border-radius: 3px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3), 0 2px 7px rgba(0, 0, 0, 0.2);
  color: #616165;
  display: block;
  font-family: 'Trebuchet MS';
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #fff;
  padding: 5px 15px;
  position: relative;
  width: 80px;
}

.botao01:before {
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: inset 0 -2px 12px -4px rgba(70, 70, 70, 0.2),
    inset 0 3px 2px -1px rgba(255, 255, 255, 1);
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 5px;
  position: absolute;
}

.botao01:after {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  content: '';
  bottom: 15px;
  left: 0px;
  right: 0px;
  top: 0px;
  position: absolute;
}
.botao01:active {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
  top: 4px;
}
.botao01:active:before {
  border: none;
  box-shadow: none;
}

.botao01 {
  position: absolute;
  left: 600px;
  top: 1250px;
}
